
.info {
    display: flex;
    justify-content: left;
    margin: 10px 0;
    margin-top: 0;
    text-align: left;
    text-decoration: black;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 0;

}

.bigInfo {
    display: flex;
    justify-content: left;
    margin: 10px 0;
    margin-top: 0;
    text-align: left;
    text-decoration: black;
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
    

}

.bigInfo2 {
    display: flex;
    justify-content: left;
    margin: 10px 0;
    margin-top: 0;
    text-align: left;
    text-decoration: black;
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px;
    

}
.bigInfo2Alert {
    display: flex;
    justify-content: left;
    margin: 10px 0;
    margin-top: 0;
    text-align: left;
    text-decoration: red;
    color: red;
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
    

}


.Main{

    justify-content: left;
    margin-left: 0px;
    font-weight: bold;

    margin-top: 2px;
    padding: 100px;
    padding-bottom: 5px;
    padding-top: 2px;
    width: 100%;
    height: fit-content;
    width: 100%;
 

}

.info2{
    display: flex;
    justify-content: left;
    margin-left: 10px;
    font-weight: normal;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 20px;
}