
.footer {

    border-top: #aaa 1px solid;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    gap: 20px; /* Add spacing between the links */
  }
  
  .footer__content a {
    color:inherit;
    color: #aaa;
    text-decoration: none;
    
  }


  
  .footer__content a:hover {
    color: #aaa; /* Optional hover effect */
  }